body {
  font-family: 'Lato', sans-serif !important;
}

.btn {
  box-shadow: none !important;
  border: none !important;
}

.btn:hover {
  box-shadow: none !important;
  border: none !important;
}

.form-control {
  box-shadow: none !important;
  border: none !important;
}

.FormBtn {
  box-shadow: none !important;
}

.btn:focus {
  background-color: #34A952 !important;
  cursor: pointer !important;
}